.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding-right: 30px;
  div {
    width: $iconNav;
    height: $iconNav;
    // border: 3px solid $light;
    // border-radius: 50%;
    margin-left: 5px;
    opacity: 0.5;
    cursor: pointer;

    svg {
      width: 100%;
      height: 100%;
      // opacity: 0.5;
      transition: all 0.3s;

      // &:hover {
      //   transform: scale(1.1);
      //   transition: 0.3s;
      //   opacity: 0.6;
      // }
    }
    // svg:nth-of-type(4) {
    //   padding: 5px;
    // }
  }

  button {
    all: unset;
    cursor: pointer;
  }
}
// @media
// @media (hover: hover) {
//   div svg:hover {
//     transform: scale(1.2);
//     opacity: 1;
//     transition: 0.3s;
//   }
// }
