//colors
$light: hsl(0, 0, 100);
$dark: #434343;
$green: #add100;
//sizes
$wraperWidth: #{'min(95%, 700px)'};
$headerSize: 7vh;
$footerSize: 18vh;
$mainSize: 75vh;
//
$reactFont: #{'calc(10px + 2vmin)'};
$fontMiddle: #{'clamp(1rem, 5.1vw, 1.4rem)'};
$fontSmall: #{'clamp(0.83rem, 2.8vw, 1.2rem)'};
$fontVerySmall: #{'clamp(0.8rem, 2.8vw, 1rem)'};
//icons
$iconSize: #{'clamp(30px, 16vw, 50px)'};
$iconNav: #{'clamp(30px, 5.1vw, 50px)'};
// $fontMiddle: #{'clamp(1rem, 3vw, 1.3rem)'};
//gradients
$green1: linear-gradient(to bottom right, #add100, #3f4a05);
$darkGrey1: linear-gradient(to bottom right, #434343 5%, #000000, #434343 95%);
//inactive
$darkGrey2: linear-gradient(to bottom right, #000000, #434343 95%);
$lightBgr1: linear-gradient(to right, #d6d0d0, #fff);
$blue: linear-gradient(to right bottom, #2f80ed, #56ccf2);
$clearSky: linear-gradient(to right, #005c97, #363795);
//fonts
$serif: 'Playfair Display', serif;
$sanserif: 'Montserrat', sans-serif;
// $sanserif: 'Playfair Display', serif;
