.contact-tab__wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $footerSize;
  min-height: 60px;
  width: $wraperWidth;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  align-items: center;
  background-color: $dark;
  z-index: 100;
}

.contact-tab__line {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  border-radius: 50%;
  background-color: $light;
  opacity: 0.5;
}
.contact-tab__item {
  display: flex;
  opacity: 0.5;
  &.left {
    justify-content: flex-end;
  }

  & .icon {
    width: $iconNavWrapper;
    height: $iconNavWrapper;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid $light;
    // border-radius: 10%;
    svg {
      width: $iconNav;
      height: $iconNav;
      border-radius: 50%;
    }
  }
}
.contact-tab__logo {
  display: flex;
  justify-content: center;
  opacity: 0.5;
  //style for <BrandLogo>
  .brand-logo {
    color: $light;
    font-size: $fontSmall;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__duplo {
      letter-spacing: 3.5px;
    }
    &__elements {
      letter-spacing: 1px;
    }
  }
}
