.contact-tab-link {
  width: $iconNavWrapper;
  height: $iconNavWrapper;
  .svg-icon__wrapper {
    width: inherit;
    height: inherit;
    svg {
      width: inherit;
      height: inherit;
    }
  }
}
