.link-to-path {
  &__wrapper {
  }
  &__label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    line-height: 1.4;
  }
}
.font-middle {
  font-size: $fontMiddle;
}
.font-small {
  font-size: $fontSmall;
}
