.logo {
  display: flex;
  color: $dark; // just to hide within bgc...
  font-size: $fontMiddle;
  letter-spacing: 3px;
  user-select: none;
  span {
    display: block;
  }
  &__duplo {
    font-weight: 800;
  }
  &__elements {
    font-weight: 400;
  }
}

//version 4.14
