.os-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 10;
  margin-bottom: $footerSize;
  .os-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $dark;
    visibility: hidden;
  }
  .os-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    visibility: hidden;
    &__text-wrapper {
      display: flex;
      height: 90%;
      padding: 2rem 1rem;
    }
    &__text-paragraph {
      align-self: center;
      font-size: $fontSmall;
      line-height: 1.7;
      letter-spacing: 0.5px;
      color: $light;
      span {
        display: inline-block;
        padding-bottom: 15px;
        strong {
          font-weight: 400;
          color: $green;
          font-size: $fontMiddle2;
        }
      }
    }
    &__button-wrapper {
      display: flex;
      align-items: center;

      height: 10%;
      color: $light;
    }
    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $iconNavWrapper;
      height: $iconNavWrapper;
      cursor: pointer;
      .svg-icon__wrapper {
        width: inherit;
        height: inherit;
        svg {
          width: inherit;
          height: inherit;
        }
      }
    }
    &__bottom {
      height: $footerSize;
      position: fixed;
      bottom: 0;
    }
  }
}
