.overlay-openers-box_wrapper {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  height: 100%;
}
// @media (min-width: 600px) {
//   .overlay-openers-box_wrapper {
//     width: 100%;
//   }
// }
