.about-route-body {
  &__main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    // height: 100%; // 05_22 - testing...
    padding-top: $sectionGapMiddle;
    padding-bottom: $footerSizeEnlarged;
  }

  &__hamburger-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $footerSize;
    width: max-content;
    min-width: 160px;
    margin: auto;
    z-index: 105;
    padding: 0 35px;
  }
  &__hamburger-button {
    // padding: 20px 0;
    height: 100%;
  }
}

@media (max-height: 700px) {
  .about-route-body__main {
    padding-top: $sectionGapVerySmall;
  }
}

// @media (max-height: 670px) {
//   .about-route-body__top-section {
//     height: 45%;
//   }
//   .about-route-body__bottom-section {
//     height: 55%;
//   }
// }
