#sky1 {
  .sunRD {
    // visibility: hidden;
    fill: yellow;
    stroke: none;
    z-index: 100;
    // transform: translateY(-10px);
  }
  .sunRU {
    stroke: yellow;
    stroke-width: 0.7px;
  }
  // .cloud2x,
  .cloud2x-color,
  // .cloud2a,
  // .cloud2b,
  // .cloud3x,
  .cloud3x-color,
  // .cloud3a,
  // .cloud3b,
  // .cloud3c,
  // .cloud4x,
  .cloud4x-color
  // .cloud4a,
  // .cloud4b
  {
    // visibility: hidden;
    fill: $blueSky;
  }
  .windowA,
  .windowB {
    fill: $darkLighten80;
  }
  .solarA {
    // visibility: hidden;
    fill: $green;
  }
  .solarB {
    // visibility: hidden;
  }
  .treeBody {
    fill: $darkLighten50;
  }
  .treeTop {
    fill: $darkLighten80;
  }
}

//
// .ray7-mask {
//   // visibility: hidden;
//   path {
//     stroke: yellow;
//   }
// }
