.icon-medium {
  height: $iconMadium;
  width: $iconMadium;
}
.icon-large {
  height: $iconLarge;
  width: $iconLarge;
}
.svg-icon__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    height: inherit;
    width: inherit;
  }
}
