.text-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  // height: 100%;
  padding-left: 10px;

  &__line {
    user-select: none;
    visibility: hidden;
    color: $dark;
    // mix-blend-mode: difference;
    font-size: $fontMiddle;
    // text-shadow: 0 0 3px #536206;
  }
}
