.text-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &__header {
    visibility: hidden;
    display: flex;
    align-items: center;
    height: 15%;
    font-size: $fontMiddle;
    font-weight: 600;
    // mix-blend-mode: difference;
    // color: $light;
    font-family: $sanSerif;
  }
  &__spans {
    visibility: hidden;
    position: relative;
    height: 70%;
    width: 85%;
    padding-right: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    font-size: $fontVeryLarge;
    font-weight: 600;
    color: $blue;
  }
  &__spans::after {
    content: '';
    position: absolute;
    right: 0;
    height: 80%;
    width: 2px;
    background-color: $blue;
  }
  @media screen and (min-height: 700px) {
    &__spans::after {
      height: 100%;
    }
  }

  &__line {
    visibility: hidden;
    display: flex;
    align-items: center;
    height: 15%;
    font-size: $fontMiddle;
    font-weight: 600;
  }
}
