.logo {
  display: flex;
  color: $light;
  font-size: $fontSmall;
  letter-spacing: 2px;
  user-select: none;
  cursor: pointer;
  span {
    display: block;
  }
  &__duplo {
    font-weight: 800;
  }
  &__elements {
    font-weight: 400;
  }
}
