.text-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  // height: 100%;
  padding-left: 10px;

  &__text-line {
    user-select: none;
    visibility: hidden;
    color: $light;
    // mix-blend-mode: difference;
    font-size: $fontMiddle;
    text-shadow: 0 0 3px #536206;
  }
}
//exceptions...
.screen-b__top-textbox2 .text-box li {
  font-weight: 400;
}
.screen-b__top-textbox2 .text-box li:nth-of-type(3) {
  font-weight: 600;
}

.screen-b__bottom-textbox .text-box li:nth-of-type(2),
.screen-b__top-textbox .text-box li:nth-of-type(2) {
  font-weight: 600;
}
